<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add account</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form action="" method="POST">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Name
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" name="txtName"  class="form-control"
                             value="<%= typeof txtName != 'undefined' ? txtName : '' %>"
                            >
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Email
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="email" id="last-name" name="txtEmail"  class="form-control"
                                value="<%= typeof txtEmail != 'undefined' ? txtEmail : '' %>"
                            >
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Password
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="password" id="last-name" name="txtPassword"  class="form-control"
                            value="<%= typeof txtPassword != 'undefined' ? txtPassword : '' %>"
                            >
                        </div>
                    </div>
                    
                    <!-- <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Là Admin</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input style="height: 30px;width: 20px;" type="checkbox" value="txtAdmin" > 
                        </div>
                    </div> -->
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Thêm mới</button>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
      <div class="x_title">
        <h2>List Account</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Ngày tạo</th>
              <th>Email</th>
              <!-- <th>Là Admin</th> -->
            </tr>
          </thead>
          <tbody>
            <% listUser.forEach(function(user){ %>
                <tr>
                    <td><%- user.name %></td>
                    <td><%= moment(user.date).format('DD-MM-YYYY'); %></td>
                    <td><%- user.email %></td>
                    <!-- <td><% if(user.isAdmin==1){ %>Yes<%}else{%>No<%} %></td> -->
                    <td>
                      <button type="button" class="btn btn-round btn-success"><a style="color:white;" href="/page/accountEdit/<%- user._id %>">Edit</a></button>
                      <button type="button" class="btn btn-round btn-danger"><a onclick="return confirm('Bạn có chắc muốn xóa <%- user.name %>')" style="color:white;" href="/page/account/<%- user._id %>">Delete</a></button>
                    </td>
                </tr>
            <% }); %>
          </tbody>
        </table>

      </div>
    </div>
  </div>