<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add roomtype</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form action="/page/roomtype" method="POST">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Name type <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" name="txtName" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align">Show/hide</label>
                      <div class="col-md-6 col-sm-6 ">
                          <input style="height: 30px;width: 20px;" type="checkbox" value="txtCheck" name="txtAction"> 
                      </div>
                  </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Add New RoomType</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

  <% if(typeof message != 'undefined') { %> <h3><%- message %></h3> <% } %>

<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
      <div class="x_title">
        <h2>List RoomType</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Loại phòng</th>
              <th>Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% roomtype.forEach(function(roomty){ %>
                <tr>
                    <th scope="row"><%- roomty._id %></th>
                    <td><%- roomty.name %></td>
                    <td><% if(roomty.active==true){ %>Show<%}else{%>Hide<%} %></td>
                    <td>
                      <button type="button" class="btn btn-round btn-success"><a style="color:white;" href="/page/roomTypeEdit/<%- roomty._id %>">Edit</button>
                      <button type="button" class="btn btn-round btn-danger"><a onclick="return confirm('Bạn có chắc muốn xóa <%- roomty.name %> không?')" style="color:white;" href="/page/roomtype/<%- roomty._id %>">Delete</a></button>
                    </td>
                  </tr>
            <% }); %>
          </tbody>
        </table>

      </div>
    </div>
  </div>