<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Edit Room</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Name
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" value="<%- room.name  %>" name="txtName"  class="form-control">
                        </div>
                    </div>
                    <input type="hidden" id="last-name" value="<%- room._id  %>"  name="txtId"  class="form-control">
                    <div class="item form-group">      
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Image 
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="file" id="last-name"  name="txtImage"  class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name"></label>
                            <img src="upload/<%- room.image  %>" style="width:150px;height:120px" />
                        
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">People
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text"  value="<%- room.people  %>" name="txtPeople"  class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">acreage 
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text"  value="<%- room.acreage  %>" name="txtDt"  class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Description
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" value="<%- room.description  %>" name="txtDesc"  class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Extras
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" value="<%- room.extras  %>" name="txtExtras"  class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Price</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input id="middle-name" class="form-control" value="<%- room.price  %>" type="text" name="txtPrice">
                        </div>
                    </div>
                    
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Pets</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input style="height: 30px;width: 20px;" type="checkbox" value="<%- room.pets  %>" name="txtPets"> 
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Breakfast</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input style="height: 30px;width: 20px;" type="checkbox" value="<%- room.breakfast  %>" name="txtBreakfast"> 
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Featured</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input style="height: 30px;width: 20px;" type="checkbox" value="txtFeatured" name="txtFeatured"> 
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Active</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input style="height: 30px;width: 20px;" type="checkbox" value="txtActive" name="txtActive"> 
                        </div>
                    </div>


                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                </form>
            </div>
        </div>
    </div>
</div